@import url(https://fonts.googleapis.com/css2?family=VT323);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* NavBar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}




html {
  height: 100%;
  width: 100%;
}

.logo {
  max-width: 5%;
}

.details {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

img {
  vertical-align: middle;
  margin: 5px;
}

.external-button-window {
  background-color: rgb(40, 55, 67);
  padding: 10px;
  display: inline-block;
  border-radius: 0px;
}

.external-button-window:hover {
  background-color: rgb(152, 193, 231);
}

.button-window {
  background-color: #a8bce1;
  padding: 10px;
  display: inline-block;
}

.button-window:hover {
  background-color: rgb(72, 85, 96);
}

span {
  width: auto;
  border-radius: 35px;
  padding: 10px;
  color: white;
  background-color: cornflowerblue;
  font-size: 30px;
}

.header {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 80px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 55px;
}

p {
  font-size: 38px;
}

.Addiction {
  font-family: 'VT323';
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}